/* Adapted from: https://www.w3schools.com/css/css_tooltip.asp */

/* Tooltip container */
.issue-type {
    position: relative;
}

/* Tooltip text */
.issue-type .tooltiptext {
    visibility: hidden;
    width: 240px;
    top: 100%;
    left: 50%;
    margin-left: -120px;
    /* Use half of the width (120/2 = 60), to center the tooltip */
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 10pt;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.issue-type:hover .tooltiptext {
    visibility: visible;
}

.issue-type .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}